@font-face {
    font-family: Servillana;
    src: url('./Sevillana-Regular.ttf');
}
@font-face {
    font-family: Merienda ;
    src: url('./Merienda-VariableFont_wght.ttf');
}
@font-face {
    font-family: "vazir";
    src: url(./Vazir.ttf);
}